@import '../../node_modules/reset-css/sass/_reset'

$clrWhite: rgba(255, 255, 255, 1)
$clrBlue: rgba(2, 119, 202, 1)

body
    width: 100%
    height: 100vh
    font-family: 'Alata', sans-serif
    font-size: 16PX

.mn-wrap
    position: relative
    height: 100vh
    overflow: hidden

.mn-wait
    position: absolute
    top: 0
    left: 0
    z-index: 10
    padding: 10px
    opacity: 0
    transition: opacity .5s ease-in
    &.is-show
        opacity: 1

.sl-sliders
    position: absolute
    top: 0
    width: 100%
    transition: top .3s ease-in
    &_slide
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100vh
        background: $clrWhite
        &:nth-child(even)
            color: $clrBlue
    &_number
        font-size: 150px
